body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#background-container {
    background-image: url("online meeting app interface.svg"),
    url("Circular Effect.svg");
    background-size: 850px, 1200px;
    background-position: 669px, 0px;
    height: 1000px;
    background-repeat: no-repeat;
}

header {
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-width: 100px;
    max-height: 100px;
}

#options {
    display: flex;
}

.option {
    margin-right: 70px;
    color: #86B6F6;
    text-decoration: none;
}

#app-interface {
    text-align: left;
    margin-top: 50px;
    margin-left: 100px;
}

#app-name {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

#uni {
    font-size: 215px;
    color: #3759C1;
}

#blind {
    margin-top: -40px;
    font-size: 300px;
    color: #FFFFFF;
}

#tagline {
    margin-top: -30px;
    font-size: 30px;
    margin-left: 18px;
    font-style: normal;
    color: #FFFFFF;
}

.button {
    display: inline-block;
    padding: 15px 38px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

#login {
    background-color: #86B6F6;
    color: white;
}

#signup {
    background-color: white;
    color: #86B6F6;
    
}