html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column; /* Updated to column layout */
  overflow: hidden;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(240, 14, 113, 0.8940826330532213) 0%,
    rgba(238, 229, 116, 0.726015406162465) 18%,
    rgba(228, 46, 46, 0.7708333333333334) 30%,
    rgba(121, 9, 111, 0.829656862745098) 41%,
    rgba(89, 182, 201, 0.768032212885154) 95%
  );
  z-index: -1;
}

.bgimage {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.form_panel {
  background-color: white;
  border-radius: 10px;
  margin: auto 0;
  margin-left: auto;
  margin-right: 8vw;
}

.innerpanel {
  margin: 30px 30px;
  width: fit-content;
  height: fit-content;
}

.line {
  font-weight: bolder;
  font-size: 24px;
  font-family: sans-serif;
  margin-left: 10px;
  margin-bottom: 5px;
}

.features {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.features p {
  margin-top: 0;
  font-size: x-small;
  font-weight: 100;
  font-family: sans-serif;
}
.feat1 img,
.feat2 img,
.feat3 img {
  height: 40px;
  width: auto;
}

.feat1,
.feat2 {
  margin-right: 10px;
}

.signup {
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  font-family: sans-serif;
}

.form {
  width: 100%;
  margin: 0 0;
}

.field {
  display: flex;
  flex-flow: column-reverse;
}

label[for="mail"],
input[type="text"] {
  transition: all 200ms ease;
  z-index: 1;
}

input[type="text"] {
  font-size: 15px;
  border: 0;
  border-bottom: 1px solid #ccc;
  -webkit-appearance: none;
  border-radius: 0;
  margin-bottom: 10px;
  padding: 5px 0;
  font-weight: 500;

  &:focus {
    outline: 0;
    border-color: rgb(0, 0, 0);
  }
  &:placeholder-shown + label[for="mail"] {
    cursor: text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 3.125em) scale(2);
    padding-bottom: 3px;
  }
  &:not(:placeholder-shown) + label[for="mail"],
  &:focus + label[for="mail"] {
    transform: translate(0, 0) scale(1);
    cursor: default;
    color: rgb(0, 0, 0);
    padding-bottom: 0;
  }
}

label[for="mail"] {
  max-width: max-content;
  color: #ccc;
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

button {
  background: #84c3eb;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 0px auto 10px;
}

button:hover {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.75);
  transition: ease-in-out 0.3s;
}

.why {
  text-decoration: none;
  font-size: small;
}
.content {
  font-family: default;
}
.TnC {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(100, 98, 98);
  font-size: 10px;
}
.TnC p {
  margin: 0 auto;
}

.TnC p a {
  text-decoration: none;
}

.login {
  margin-top: 5px;
  font-size: medium;
}

@media screen and (max-width: 768px) {
  .form_panel {
    background-color: white;
    border-radius: 10px;
    margin: auto auto;
  }
}
