@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grad {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(134, 182, 246, 1) 50%
    );
  }

  .glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
  }

  .break-word {
    word-wrap: break-word;
    overflow-wrap: break-word; 
    hyphens: auto;
  }

  .shad {
    -webkit-box-shadow: 0px 0px 7px 8px rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0px 0px 7px 8px rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 7px 8px rgba(255, 255, 255, 0.9);
  }

  .black-shad {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 1);
  }
  .opa-black-shad {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  }

  .grey-shad {
    -webkit-box-shadow: -2px 1px 32px -3px rgba(168, 168, 168, 1);
    -moz-box-shadow: -2px 1px 32px -3px rgba(168, 168, 168, 1);
    box-shadow: -2px 1px 32px -3px rgba(168, 168, 168, 1);
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
